.navbar {
  box-shadow: 2px 2px 5px #3292a6;
  opacity: 0.9;
  background: #fff; }
  .navbar .nav-item {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem !important;
    padding-right: 1.2rem; }

.main-header {
  height: 650px;
  background: linear-gradient(rgba(50, 146, 166, 0.8), rgba(50, 146, 166, 0.6)), url("../img/mountains.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

#authors img {
  margin-top: -50px; }
#authors .card:hover {
  background: #3292a6;
  color: #fff !important; }
  #authors .card:hover h5 {
    color: #fff !important; }
  #authors .card:hover .fab {
    color: #fff; }
